// Color
$color-white: #fff;
$color-black: #040404;
$color-gray: #161616;
$color-fuschia: #d93094;
$color-cyan: #5bd0d9;
$color-yellow: #ffdf19;

// Font size
$font-size-default: 1.6rem;
$font-size-s: 1rem;
$font-size-m: 1.6rem;
$font-size-l: 3rem;
$font-size-xl: 8rem;

// Border radius
$border-radius-s: 5px;
